<br>
<h4>Name</h4> <p><%= student.user.firstName %> <%= student.user.lastName %></p>
<br>
<h4>Email</h4> <p><%= student.user.email %></p>
<br>
<% if(student.user.imagePath) { %>
    <img src="<%= student.user.imagePath %>" alt="<%= student.user.firstName %>" height = 300px />
  <% } %>
<h4>Interests</h4>
<% if(student.user.interests.length > 0) { %>
  <ul>
    <% for (let j = 0; j < student.user.interests.length; j++) { %>
      <li><%= student.user.interests[j] %></li>
    <% } %>
  </ul>
<% } %>

<br>

<h4>Comments</h4>
    <% if(student.user.comments) { %>
      <ul>
        <% for (let j = 0; j < student.user.comments.length; j++) { %>
          <li><%= student.user.comments[j].commentBody %> --- <%= student.user.comments[j].commentAuthor %> </li>
        <% } %>
      </ul>
    <% } %>
</br>

<%if(student.user.username != reqInfo.username) {%>
  <form action="/year-book/comment/<%= student.user.username %>" method="POST" > 
      <input type="hidden" id="student_username" name="student_username" value="<%= student.user.username %>">
      <label for="name"></label>
      <input id="comment" name="comment" placeholder= "Please leave your comment" type="text" rows="3">
      <button type="submit" value="Submit">Submit</button>
  </form>
  <% } %>

</br>
    <% if(student.user.username == reqInfo.username || reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager"))  { %>
    <a href="/year-book/edit/<%= student.user.id %>"> <button>Edit</button></a>
    <% } %>

    <% if( reqInfo.roles.includes("Admin"))  { %>
        <a href="/year-book/delete/<%= student.user.id %>"> <button>Delete</button></a>
    <% } %>