<h3> Edit Student Info</h3>

<form action="/year-book/edit<%= id ? "/"+id : "" %>" method="POST" enctype="multipart/form-data" >   
    <input type="hidden" id="student_id" name="student_id" value="<%= id %>">
    <label for="name">First Name:</label>
    <input id="fname" name="fname" type="text" 
                value="<%= student.user.firstName ? student.user.firstName : '' %>" >
    <br>
    <label for="name">Last Name:</label>
    <input id="lname" name="lname" type="text" 
               value="<%= student.user.lastName ? student.user.lastName : '' %>" >
    <br>
    <label for="name">Email:</label>
    <input id="email" name="email" type="text" 
                value="<%= student.user.email ? student.user.email : '' %>" >
    <br>
    <label for="interests">Interests(input with comma please):</label>
    <input id="interests" name="interests" type="text" 
                value="<%= student.user.interests ? student.user.interests : '' %>" >
    <br>
    <br>

    <% if(student.user.imagePath) { %>
        <img src="<%= student.user.imagePath %>" alt="<%= student.user.firstName %>_current photo" height = 300px />
        <input type="checkbox" id="photoDelete" name="photoDelete" value="Delete">
        <label for="photo_delete">Delete Current Photo</label><br>
    <% } %>



    <br>
    <label for="photo">Update Your Picture</label><br>
    <input id="photo" name="photo" type="file">    <br>

    <br>
   <% if(reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager"))  { %>
         <input type="checkbox" id="manager" name="manager" value="Manager"  <%= managerCheck%>>
         <label for="manager">Manager</label><br>

         <input type="checkbox" id="admin" name="admin" value="Admin" <%= adminCheck%>>
         <label for="admin">Admin</label><br>
    <% } %>
    <button type="submit" value="Submit">Submit</button>
</form>

<%= errorMessage %>
